.outer-card-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 50px; 
  margin: 20px; 
  padding: 20px;
  justify-items: center; 
  align-items: center; 
}

.card-component {
  position: relative; /* Ensure relative positioning for z-index */
  transition: transform 0.2s, border-color 0.2s; /* Add transition for smooth zoom effect and border color change */
  border: 1px solid #6366F1; /* Initial transparent border */
}

.card-component:hover {
  transform: scale(1.2); /* Zoom effect on hover */
  border-color: #6366F1; /* Dark border color on hover */
  border-radius: 10px;
  border-width: 5px;
}

@media screen and (max-width: 768px) {
  .outer-card-component {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
